<div class="general-div">
    <div class="general-left primary-bg-color">
     <div class="general-bg-image"></div>
      <div class="general-left-gap">
        <a href="">
            <div class="general-go-back-div">
                <img src="/assets/img/arrow-left.png" alt="">
                <h4 class="primary-font-color">Back to home</h4>
            </div>
        </a>
        <form class="general-left-form" action="">
            <h2 class="primary-font-color">Get <span class="secondary-font-color general-left-form-txt">more</span> from your meetings</h2>
            <p class="form-border"><svg width="392" height="1" viewBox="0 0 392 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="0.5" x2="392" y2="0.5" stroke="white" stroke-opacity="0.4" stroke-dasharray="10 10"/>
            </svg>
            </p>
            <ul class="primary-font-color general-offer-list-ul">
                <li class="general-offer-list-li"> <img src="/assets/img/attach-circle.png" alt=""> Upload and share files easily</li>
                <li class="general-offer-list-li"> <img src="/assets/img/video.png" alt=""> Automatically record, transcribe and store the meetings</li>
                <li class="general-offer-list-li"> <img src="/assets/img/messages.png" alt=""> Automatically record, transcribe and store the meetings</li>
                <li class="general-offer-list-li"> <img src="/assets/img/device-message.png" alt=""> Automatically record, transcribe and store the meetings</li>
                <li class="general-offer-list-li"> <img src="/assets/img/calendar-edit.png" alt=""> Manage your schedule or view your teammates' scheduled meetings</li>
                <li class="general-offer-list-li"> <img src="/assets/img/document-text.png" alt=""> Use a common document for the group, work together around the project</li>
            </ul>
        </form>
      </div>
</div>


    <div class="general-right secondary-bg-color">
        <div class="right-form-gap">
            <form class="general-right-form" action="" [formGroup]="form">
                <div class="general-right-form-txts">
                    <h3>Hello again!</h3>
                    <span class="tertiary-font-color general-right-form-txt">your teammates will see your name on shared recordings and comments in meeting notes</span>
                </div>
                <a class="forth-font-color" href="">
                    <div class="general-google-btn">
                        <img class="general-google-icon" src="/assets/img/google-icon.png" alt="">
                        <h5>Sign in with Google</h5>
                    </div>
                </a>
                <p class="fifth-font-color">or</p>
                <div class="general-input-div">
                   <div class="general-input-group">
                    <input class="general-input" type="email" placeholder=" " formControlName="email"
                    [class.invalid-input]="form.get('email')!.invalid && form.get('email')!.touched">
                    <label class="general-input-placeholder-text" for="">Email Address</label>
                   </div>
                    <div class="general-input-container">
                        <div class="general-input-group">
                        <input class="general-input" type="password" placeholder=" " formControlName="password"
                        [class.invalid-input]="form.get('password')!.invalid && form.get('email')!.touched">
                        <label class="general-input-placeholder-text" for="">Password</label>
                        </div>
                        <span class="general-input-icon">
                 <img src="/assets/img/eye-slash.png" alt="">
               </span>
                    </div>

                    <div class="general-save-checkbox-div-main">
                        <div class="general-save-checkbox-div">
                            <input class="general-checkbox general-checkbox-crossed" type="checkbox" id="remember-checkbox">
                            <label class="tertiary-font-color " for="remember-checkbox general-checkbox-crossed" >Remember for 30 days</label>
                        </div>
                        <a routerLink="../forgot-password">Forgot Password?</a>
                    </div>
                </div>
                <div>
                </div>
            </form>
            <div class="general-submit-div">
                <button class="general-button" (click)="login()"
                        [class.general-button-disabled]="form.get('email')!.invalid || form.get('password')!.invalid"
                >Sign In</button>
                <p class="tertiary-font-color general-button-bottom-txt">New to Companion AI? <a routerLink="../register">Create account?</a></p>
            </div>
        </div>
    </div>
</div>
