<!-- <div class="main" [ngStyle]="{'width': width + 'px','height': height + 'px'}">
    <div class="header general-card-bg-color padding-general">
      <div class="card-general-gap">
         <div class="identifier-border-div-small"><p class="card-identifier-border general-card-border-color"></p></div>
         <div class="general-card-layout">
            <span class="card-general-title general-card-title-color">Review UI UX Design for our new project</span>
             <div class="card-bottom">
                 <p class="general-time general-card-time-color">12AM</p>
                 <img class="general-bot-icon" src="/assets/img/red-bot-icon.svg" alt="">
             </div>
         </div>
      </div>
    </div>

</div> -->


<div class="main" [ngStyle]="{'width': width + 'px','height': height + 'px'}">
  <div class="header general-card-bg-color padding-general">
    <div class="card-general-gap">
       <div class="identifier-border-div-small"><p class="card-identifier-border general-card-border-color"></p></div>
       <div class="general-card-layout">
          <span class="card-general-title general-card-title-color">Review UI UX Design for our new project</span>
           <div class="card-bottom">
               <p class="general-time general-card-time-color">12AM</p>
               <img class="general-bot-icon" src="/assets/img/red-bot-icon.svg" alt="">
           </div>
       </div>
    </div>
  </div>
  <!-- <div class="general-shared-first general-shared"></div>
  <div class="general-shared-second general-shared"></div> -->
</div>