
.padding-general{
    padding: 4px;
    height: 100%;
    z-index: 2;
}
.padding-secondary{
    padding: 0px 2px 0px 4px;
    height: 100%;
}


//// shared meet style ///

.shared-main{
    position: relative;
    display: flex;
}
