<div class="meating-companion">
    <img class="meating-icon" src="/assets/icon/6c47583eb50ee1352ff9d2d8b7ab8fd3.png" alt="">
    <div class="meet-info">
        <div class="meet-up">
            <span class="meet-txt">
                Review UI UX Design for our new project
            </span>
        </div>
        <div class="meet-down">
            <img class="img-mon" src="/assets/icon/b48afe842d98c85d8f9b1644887f424f.png" alt="">
            <img class="img-mon" src="/assets/icon/b48afe842d98c85d8f9b1644887f424f.png" alt="">
            <img class="img-mon" src="/assets/icon/b48afe842d98c85d8f9b1644887f424f.png" alt="">
            <img class="img-mon" src="/assets/icon/b48afe842d98c85d8f9b1644887f424f.png" alt="">
            <span class="m-d-text">
                Aug 18, 09:40AM — 10:15AM
            </span>
            <svg class="ress" xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                <path d="M2.08789 3.51001H10.1612C11.1296 3.51001 11.9112 4.29168 11.9112 5.26001V7.19668" stroke="#7E8594" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.93123 1.66663L2.08789 3.50994L3.93123 5.3533" stroke="#7E8594" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.9112 11.49H3.83789C2.86956 11.49 2.08789 10.7083 2.08789 9.74002V7.80334" stroke="#7E8594" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.0684 13.3333L11.9117 11.49L10.0684 9.64661" stroke="#7E8594" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>

    <div class="toggle-switch">
        <input class="toggle-input" id="toggle" type="checkbox">
        <label class="toggle-label" for="toggle"></label>
        <span class="swich-txt">Companion</span>
      </div>
</div>