<div class="calendar-meet-details-unfilled">
    <div class="input-div">
        <div class="input-border-gap">
            <p class="general-card-border-color meet-details-border"></p>
            <div class="input-width">
                <div class="input-divs">
                    <div class="input-width">
                        <h5 class="fifth-font-color">In 1h and 15 minutes</h5>
                        <input class="meeting-title" type="text" placeholder="Add tilte">
                    </div>
                </div>
                <input class="meeting-description" type="text" placeholder="Add description">
            </div>
        </div>
    </div>

    <div class="form-div">
        <div class="meeting-location-date-div">
            <img src="/assets/img/google-icon-24x24.png" alt="">
                    <div class="meeting-location-space-between">
                        <div class="meeting-location-row">
                            <div class="time-repeat-gap">
                                <p class="meet-time fifth-font-color">Aug 18, 09:40AM — 10:15AM</p>
                                <p class="meet-dot tertiary-font-color">&#x2022;</p>
                                 <div class="repeat-div">
                                    <img src="/assets/img/repeat.png" alt="">
                                    <p class="repeat-text fifth-font-color">Repeat</p>
                                 </div>
                            </div>

                            <div class="meeting-location-toggle-div">
                                <div class="toggle-switch">
                                    <input class="toggle-input" id="toggle-first" type="checkbox">
                                    <label class="toggle-label" for="toggle-first"></label>
                                </div>
                                <h5 class="forth-font-color all-day-text cursor-ponter">All Day</h5>
                            </div>
                        </div>
                        <p class="add-meeting-text cursor-ponter">Add meeting link</p>
                    </div>
        </div>

        <div class="Part-Comp-div">
            <div class="participants-div">
                <h5 class="fifth-font-color">Participants</h5>
                <div class="participants-add-icon-div">  
                  <p class="fifth-font-color">No participants yet</p>
                  <img class="cursor-ponter" src="/assets/img/add.png" alt="">
                </div>
                <div class="participants-input-div">
                    <app-calendar-general-input [width]="236" [height]="394"></app-calendar-general-input>
                </div>
            </div>
            <div class="companion-div">
                <h5 class="fifth-font-color">Companion bot</h5>
                    <div class="companion-toggle-div">
                        <div class="toggle-switch">
                            <input class="toggle-input" id="toggle-second" type="checkbox">
                            <label class="toggle-label" for="toggle-second"></label>
                        </div>
                        <h5 class="forth-font-color">Attend</h5>
                    </div>
            </div>
        </div>

        <div class="documents-div">
            <p class="documents-text fifth-font-color">Documents</p>
            <div class="custom-file-input">
                <label for="file-upload" class="file-label">No documents added yet</label>
                <input type="file" id="file-upload" class="file-input">
            </div>            
        </div>
    </div>

    <div class="bottom-header-div">
        <div class="bottom-header-img-div">
            <img class="cursor-ponter" src="/assets/img/calendar-circle.png" alt="">
            <img class="cursor-ponter" src="/assets/img/briefcase.png" alt="">
            <p class="border-between"></p>
            <div class="bottom-header-color-chooser-div"></div>
            <img class="cursor-ponter" src="/assets/img/notification.png" alt="">
            <img class="cursor-ponter" src="/assets/img/lock.png" alt="">
            <img class="cursor-ponter" src="/assets/img/Bust.png" alt="">
        </div>
          <div class="bottom-header-buttons-div">
            <div class="bottom-header-buttons-gap">
                <div class="bottom-header-status"></div>
                <h5 class="fifth-font-color">Going</h5>
            </div>
            <p class="border-between"></p>
            <img class="cursor-ponter" src="/assets/img/more.png" alt="">
          </div>
    </div>
</div>